body{
    background-size: 100% auto;
    margin: 0;
}
#main{
    background-image: linear-gradient(to right, rgb(255, 255, 255,0), rgb(255, 255, 255,1));
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.tag{
    font-size: 20px;
}
label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}
.box{
    font-size: 20px;
    width: 300px;
}
#submit{
    margin: 20px 0;
}
.advice{
    color: gray;
    margin: 10px 0;
    font-size: 10px;
}
a{
    text-decoration:none;
}