body{
    background-size: 100% auto;
    margin: 0;
    height: 100%;
}
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
#title{
    color: black;
    font-size: 30px;
    padding: 3px;
    margin: 10px;
}
#accounttools{
    margin-right: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.note{
    background-color: rgba(222, 184, 135, 0.8);
    width: 300px;
    margin: 10px;
    padding: 20px;
}
#preview-note{
    background-color: rgba(222, 184, 135, 0.8);
    width: 300px;
    margin: 10px;
    padding: 20px;
}
#notes{    
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
}
.quote{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    margin: 0 15px;
}
.sheet{
    font-size: 20px;
    word-break: break-all;
    cursor: pointer;
}
#preview-sheet{
    font-size: 20px;
    word-break: break-all;
}
.attach{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-end;
}
.object{
    color: gray;
    font-family:'Times New Roman', Times, serif;
}
.writer{
    color: gray;
    font-family:'Times New Roman', Times, serif;
}
#preview-object{
    color: gray;
    font-family:'Times New Roman', Times, serif;
}
#preview-writer{
    color: gray;
    font-family:'Times New Roman', Times, serif;
}
#footer{
    margin: 20px auto;
}
#tools{
    position: fixed;
    right: 50px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 250px;
}
#userName{
    font-size: 20px;
}
.check{
    color: burlywood;
    font-size: 5px;
    font-family: monospace;
}
.check:hover{
    color: #ddd;
}
#preview-check{
    color: #ddd;
    font-size: 5px;
    font-family: monospace;
}
#cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(95, 90, 90, 0.9);
    z-index: 20;
}
#container{
    display: none;
    justify-content: space-around;
    position: none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 21;
}
#commentArea{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 30px;
    margin: 40px auto;
    background-color: white;
    z-index: 99;
}
#commentHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#preview{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
textarea{
    font-size: 20px;
    padding: 10px;
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    max-height: 60px;
    min-height: 60px;
}
#commentTools{
    display: flex;
    flex-direction: column;
    width: 400px;
}
#submitInfo span{
    font-size: 10px;
    color: gray;
}
#submit{
    margin-top: 10px;
}
#publicComments{
    padding: 40px 40px 20px 40px;
}
.each_comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(211, 209, 209);
    margin-bottom: 10px;
}
.commtentInfo{
    font-size: smaller;
    width: 100%-16px;
    background-color: whitesmoke;
    padding: 10px;
}
.commentUserName{
    color: blue;
}
.commentTidyName{
    color: gray;
}
#footer{
    position: fixed;
    color: gray;
    padding: 10px;
    bottom: 0;
}
a{
    margin-left: 10px;
    float: right;
}
a:first-child{
    color: lightcoral;
}
.content{
    padding: 10px 20px;
}
p{
    margin: 0;
}