body{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    margin: 0;

}
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title{
    color: black;
    font-size: 30px;
    background-color: white;
    padding: 3px;
    margin: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.note{
    background-color: burlywood;
    width: 300px;
    margin: 10px;
    padding: 20px;
}
#notes{
    margin: 10px auto 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: chocolate;
    justify-content: center;
    align-items: flex-start;
    column-count: 4;
    column-gap: 0;
}
.quote{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    margin: 0 15px;
}
.sheet{
    font-size: 20px;
    word-break: break-all;
}
.attach{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-end;
}
.object{
    color: gray;
    font-family:'Times New Roman', Times, serif;
}
#footer{
    margin: 20px auto;
}
#tools{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 300px;
}
#userName{
    margin-right: 20px;
    font-size: 20px;
}
.check{
    color: burlywood;
    font-size: 5px;
    font-family: monospace;
}
.check:hover{
    color: #ddd;
}