body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-size:100% auto;
}
#header{
    padding:  10px 20px;
    display: flex;
    justify-content: space-between;
}
#title{
    position: relative;
    color: white;
    font-size: 30px;
}
#loginTools{
}
input{
    font-size: 20px;
}
#main{
    height: 100%;
    width: 100%;
}
#sheets{
    margin: 150px auto;
    padding: 0 30px 30px 30px;
    display: flex;
    justify-content: center;
}
#quote{
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    margin-left: 30px;
    top: 20px;
}
#sheet{
    font-size: 30px;
}
#footer{
    color: gray;
    padding: 10px;
    bottom: 0;
}