body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-size:100% auto;
}
#header{
    padding:  10px 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#title{
    position: relative;
    color: white;
    font-size: 30px;
}
#main{
    height: 100%;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}
#footer{
    color: gray;
    padding: 10px;
    bottom: 0;
}